body {
    margin-left: 15%;
    margin-right: 15%;
}
.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070F18;
    margin-top: 40px;
    margin-bottom: 40px;
}
#menu{
    text-align: right;
    margin-top: 49px;
}
#menu ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #070F18;
}
a{
    color: black;
    text-decoration: none;
}
#buttonCta{
    background: #F75C4E;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
    margin-left: 320px;
}
#headerCta p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: right;
    color: #575455;
    margin-bottom: 20px;
}
#headerCta h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-align: right;
    color: #000000;
}
#headerImg{
    margin-right: 42px;
}
#headerImg img{
    width: 100%;
}
.headerLogo{
    text-align: center;
}
#clients{
    margin-top: 30px;
    margin-bottom: 50px;
}
#headerClientText{
    color: #070F18;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    line-height: normal;
}
#services{
    text-align: center;
    color: #575455;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 65px;
    margin-top: 130px;
}
h2.red{
    color: #F75C4E;
    font-size: 16px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h1.black{
    margin-top: 0px;
    color: #000;
    font-size: 28px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
}
.gray{
    color: #575455;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.textCenter h3{
    text-align: center;
    color: #070F18;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.textCenter{
    text-align: center;
    color: #575455;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
#contactImg img{
    width: 100%;
}
#contactForm {
    margin-top: 50px;
}
#contactForm input{
    padding: 10px 30px 10px 30px;    
    border-radius: 50px;
    background: #F5F6FB;
    color: #575455;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    width: 70%;
}
#contactForm button{
    padding: 10px 30px 10px 30px;
    border-radius: 50px;
    background: #1F7CFF;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
    cursor: pointer;
}
button:hover{
    background: #9b5b0d;
    color:white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103081;
    transition-duration: 0.1s;
}
#portfolioTitle{
    margin-top: 150px;
}
.portfolioImg img{
    width: 100%;
    border-radius: 30px;
    cursor:pointer;
}
.portfolioImg{
    margin: 20px;
}